/*styling of student*/
p {
<<<<<<< HEAD
  display: block;
  margin-block-start: inherit;
  margin-block-end: inherit;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
=======
    display: block;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
>>>>>>> master
}
body {
  background-image: url("Images/background.svg");
  background-size: cover;
}
/*all scoring styling is here */
.currentScore {
  position: absolute;
  top: 60px;
  left: 60%;
  width: 30%;
}

.currencyImg {
  float: right;
  width: 10%;
  margin-left: 5%;
}

.ammount {
  top: 70px;
  float: right;
  margin-left: 7%;
  margin-right: 1.2%;
  font-size: 1.8vw;
}

header,
main {
  display: block;
/* because <main/> is very new */
  padding: 5%;
}
/*all scoring styling ends here*/

/*styling of pigs*/
.Piggies {
  position: absolute;
  top: 108px;
  left: 51.5%;
  width: 41%;
  height: 37%;
}

.pigimg {
  width: 100%;
  height: 100%;
}
/*styling of pigs end*/


/*styiling of the select buttons*/
.history_overview_buttons,
.atm_history_buttons {
  position: absolute;
  left: 10.5%;
  top: 130px;
}

.button {
  color: inherit;
  border:none;
  text-align: center;
  display: inline-block;
  background: none;
}

/*Buttons for the index.html*/
.buttonsForIndex {
	display: flex;
  flex-dirction: row;
}

.buttonsForIndex a {
  left:50%;
  top:50%;
  padding: 25px 20px;
  font-size:30px;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
}

.buttonsForIndex a:hover, nav a.active {
  color: #000;
}

.teacher_button {
	color: inherit;
  border:none;
  text-align: center;
  display: inline-block;
  background: none;
}

.student_button {
	color: inherit;
  border:none;
  text-align: center;
  display: inline-block;
  background: none;
}

.admin_button{
	color: inherit;
  border:none;
  text-align: center;
  display: inline-block;
  background: none;
}
/*End of the buttons for index.html*/

/*styling of the part where you put the course name and the amount of coins and diamonds what you want to give/get*/

.courseName {
	position: absolute;
	top: 35%;
	left: 33%;
}
/*styling of pigs end*/

.amountOfDiamonds {
	position: absolute;
	top: 50%;
	left: 33%;
}

.amountOfCoins {
	position: absolute;
	top: 50%;
	left: 45%;
}

.deposit {
	position: absolute;
	top: 65%;
	left: 31.5%;
}

.withdraw {
	position: absolute;
	top: 70%;
	left: 31.5%;
}

/*end of styling of the part where you put the course name and the amount of coins and diamonds what you want to give/get*/


/*tooltips*/
.tooltip {
  position: relative;; /* making the .tooltip span a container for the tooltip text */
  left:-4%;
  top: 5px;
}

.tooltip img{
width: 3%;
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;
  opacity:0;
  transition: 0.7s opacity;    /* hide by default */
}

.tooltip:hover:before {
  display:block;
  opacity: 1;
}

.tooltip:after {
  content: "";
  position:absolute;
    
  /* position tooltip correctly */
  left:100%;
  margin-left:-5px;
   
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
   
  /* the arrow */
  border:10px solid #000;
  border-color: transparent black transparent transparent;
    
  opacity:0;
  transition:.3s;
  }
  .tooltip:hover:before, .tooltip:hover:after {
    opacity:1;
}



/*styiling of history and student list*/

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Zilla+Slab:300,400');
$white: #fff;
$main-color: #643A7A;
.frame {
    position: absolute;
    border-radius: 2px;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #497081;
    font-family: 'zilla slab', serif;
    font-size: .9rem;
}

.list {
    position: absolute;
    top: 37%;
    left: 10.85%;
    width: 20vmax;
    background: #F5F5F5;
    box-shadow: 1rem 1rem .5rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.list .head {
    padding: 20px 0;
    margin: 0 30px;
    border-bottom: 1px solid rgba(100, 58, 122, .5);
}

.list .title {
    font-family: 'fredericka the great', cursive;
    font-weight: 500;
    font-size: 2.5rem;
    color: rgba(100, 58, 122, .8);
}

.list ul {
    list-style: none;
    padding: 4px 0;
    margin: 0 30px;
    font-weight: 300;
}

.list ul li {
    position: relative;
    display: block;
    margin: 24px 0;
    height: 14px;
}

/*styiling of history and student list end*/


/*styling of the selection bar between classes*/
/* the selected one in the selection bar */

.select {
  position: absolute;
  left: 10.5%;
  top: 180px;
  width: 20vmax;
  display:flex;
  flex-direction: column;
  position:relative;
  width:350px;
  height:40px;
  cursor: pointer;
}

.option {
  padding:0 30px 0 10px;
  width: 20vmax;
  min-height:40px;
  display:flex;
  align-items:center;
  background:  #663366;
  border-top:#222 solid 1px;
  position:absolute;
  pointer-events:none;
  order:2;
  z-index:1;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  cursor: pointer;
}

/* when we open the selection bar */
 
.option {
  padding:0 30px 0 10px;
  width: 20vmax;
  min-height:40px;
  display:flex;
  align-items:center;
  background:  #F5F5F5;
  border-top:#222 solid 1px;
  position:absolute;
  pointer-events:none;
  order:2;
  z-index:1;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  cursor: pointer; 
}
 
.select:focus .option {
  position:relative;
  pointer-events:all;
}
 
.select input {
  position:absolute;
}
 
.select input:checked + label {
  order: 1;
  z-index:2;
  background: #663366;
  border-top:none;
  position:relative;
  color: white;
}
 
.select input:checked + label:after {
  content:''; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  z-index:3;
}
 
.select input:checked + label:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
  background: #663366;
}

/*end of the styling of the selection bar between classes*/

/* Popup container - can be anything you want */
.popup {
  position: absolute;
  top: 80%;
  left: 31.5%;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 180px;
  height: 200px;
  background-color: #666;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.coinNeeded {
  width: 50%;
  position: relative;
  left: 15%;
}

.diamondNeeded {
  width: 50%;
  position: relative;
  left: 15%;
}

.sendRequest {
  color: inherit;
  border:none;
  text-align: center;
  display: inline-block;
  background: none;
}

.sendRequest nav a {
  color: #fff;
}

.sendRequest a:hover, nav a.active {
  color: #fff;
}
